.headling{
    font-weight: 700;
    padding: 0 16px;
    
}
.MainPage__head{
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 16px;
}
.footer{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  width: 100%;
  min-height: 57px;
}
.MainPage__container{
    margin-bottom: 60px;
}



@media (max-width: 450px){
    .headling{
        font-weight: 700;
        padding: 0 16px;
        font-size: 24px;
        padding: 0;
    }
    .footer{
        display: block;
    }
    .footer__navs{
        display: flex;
        justify-content: center;
        height: 57px;
    }
    .footer__link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 100%;
        text-decoration: none;
        color: var(--secondary-colour);
        font-weight: 400;
        font-size: 10px;
    }
    .active{
        color: var(--primary-colour);
    }
}

