
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  border-bottom: 1px solid rgba(206, 210, 218, 1);
  background-color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 960px;
  min-height: 34px;
  box-sizing: border-box;
  gap: 32px;
}

.header__back--mobile{
  display: none;
}

.header__logo {
  display: flex;
  align-items: center;
}



.header__navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 810px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;


}

.header__navs--block {
  display: flex;
  gap: 32px;
  height: 24px;

}

.header__nav {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}


.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 130px auto 0;
  box-sizing: border-box;
}

.footer{
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background-color: #ffffff;
  width: 100%;
  min-height: 57px;
}
@media (max-width: 450px){
  .header{
    display: none;
  }
  .header__back--mobile{
    display: block;
  }
  .content{
    max-width: 328px;
    margin-top: 12px;
    margin-bottom: 28px;
  }
  .footer{
    display: block;
  }
  .footer__navs{
    display: flex;
    justify-content: center;
    height: 57px;
  }
  .footer__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
    text-decoration: none;
    color: var(--secondary-colour);
    font-weight: 400;
    font-size: 10px;

  }
  .active{
    color: var(--primary-colour);
  }

}