.card{
    display: flex;
    margin-bottom: 48px;
}
.card__header{
    height: 300px;
    width: 299px;
    margin-bottom: 16px;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.card__moreInfo{
    background-color: rgba(243, 244, 246, 1);
    position: absolute;
    text-align: center;
    right: -5px;
    bottom: -5px;
    width: 110px;
    height: 48px;
    border-radius: 5px;
    z-index: 10;
    padding: 8px 16px;
}
.card__text{
    font-size: 14px;
    color: var(--black-colour);
}
.card__text--bold{
    font-weight: 500;
    margin-bottom: 4px;
}
.card__datas{
    margin-left: 32px;
    max-width: 629px;
    color: var(--black-colour);
    font-weight: 700;
    font-size: 26px;
}
.card__info{
    color: var(--secondary-colour);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}
.card__stars{
    margin-bottom: 4px;
}
.card__rating{
    margin-bottom: 16px;
    color: var(--secondary-colour);
    font-size: 14px;
    font-weight: 400;
}
.card__desc{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-colour);
}
.card__back{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 24px;
    margin-bottom: 24px;
    gap: 16px;
    color: var(--secondary-colour);
}
.schedule__title{
    font-weight: 700;
}