.card{
    display: flex;
}
.card__header{
    height: 300px;
    width: 299px;
    margin-bottom: 16px;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.card__moreInfo{
    background-color: rgba(243, 244, 246, 1);
    position: absolute;
    text-align: center;
    right: -5px;
    bottom: -5px;
    width: 110px;
    height: 48px;
    border-radius: 5px;
    z-index: 10;
    padding: 8px 16px;
}
.card__text{
    font-size: 14px;
    color: var(--black-colour);
}
.card__text--bold{
    font-weight: 500;
    margin-bottom: 4px;
}