.card{
    display: flex;
    margin-bottom: 48px;
}
.card__header{
    height: 300px;
    width: 299px;
    margin-bottom: 16px;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.card__moreInfo{
    background-color: rgba(243, 244, 246, 1);
    position: absolute;
    text-align: center;
    right: -5px;
    bottom: -5px;
    width: 110px;
    height: 48px;
    border-radius: 5px;
    z-index: 10;
    padding: 8px 16px;
}
.card__text{
    font-size: 14px;
    color: var(--black-colour);
}
.card__text--bold{
    font-weight: 500;
    margin-bottom: 4px;
}
.card__datas{
    margin-left: 32px;
    max-width: 629px;
    color: var(--black-colour);
    font-weight: 700;
    font-size: 26px;
}
.card__info{
    color: var(--secondary-colour);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}
.card__stars{
    margin-bottom: 4px;
}
.card__rating{
    margin-bottom: 16px;
    color: var(--secondary-colour);
    font-size: 14px;
    font-weight: 400;
}
.card__desc{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-colour);
}
.card__back{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 24px;
    margin-bottom: 24px;
    gap: 16px;
    color: var(--secondary-colour);
}
.schedule__title{
    font-weight: 700;
    margin-bottom: 24px;
}
.schedule__data{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--schedule-colour);
    height: 44px;
    max-width: 699px;
    border-radius: 14px;
    margin-bottom: 24px;
}
.schedule__data--button{
    position: relative;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 16px;
    min-width: 95px;
    border-radius: 14px;
    color: var(--secondary-colour);
}
.schedule__data--button:hover{
    background-color: #ffffff;
    border-radius: 14px;
    color: var(--black-colour);
}
.active{
    background-color: #ffffff;
    border-radius: 14px;
    color: var(--black-colour);
}
.schedule__data-container{
    position: relative;
    
}
.schedule__data--button.with-divider::after{
    content: '';
    background-color: rgba(206, 210, 218, 1);
    display: block;
    position: absolute;
    right: 0;
    top: 7px;
    width: 1px;
    height: 24px;
}
.schedule{
    min-height: 288px;
}
.hall__colour{
    font-weight: 400;
    font-size: 12px;
    color: var(--gray-colour);
    margin-bottom: 16px;
}
.hall__time-button{
    box-sizing: border-box;
    min-height: 40px;
    padding: 10px 16px;
    border: 1px solid var(--Indicator-Light, rgba(206, 210, 218, 1));
    font-size: 14px;
    border-radius: 14px;

}
.hall__time-button:hover{
    background-color: rgba(151, 161, 175, 1);
    color: #ffffff;
    border: none;
}
.hall__times{
    display: flex;
    gap: 8px;
}
.hall__block{
    margin-bottom: 24px;
}
.schedule__button{
    margin-top: 40px;
    padding: 16px 112.5px;
}