:root {
   --font-primary: 'Inter', sans-serif;
   --black-colour: #000000;
   --secondary-colour: rgba(99, 112, 131, 1);
   --gray-colour: rgba(52, 64, 81, 1);
   --primary-colour: rgba(113, 45, 156, 1);
   --white-colour: #ffffff;

}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}
button{
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

